body{
    background-color: #f3f3ee;
    color:#374653

}
.meme{
    width:500px;
    height:auto;
}
.title{
    text-align: center;
    padding:2%;
    padding-bottom:5%;
    color: #112b4f;

}
.sub-title{
    font-size: 20px;
    opacity: 90%;
}